# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Edvin Dunaway
	email = git@eddinn.net
[core]
	editor = code
[color]
    status = auto
    branch = auto
    interactive = auto
    diff = auto
